html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.header {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    color: #787878;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #DFDFDF;
}

.main {
    width: 90%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
}

.content {
    height: 100%;
    display: flex;
    flex-flow: row;
}



.left,.preview,.history {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-top: 10px;
}

.left {
    max-width: 300px;
}

.top-bar {
    flex: 0 1 auto;
}

.left .btn-parse {
    width: 100%;
}

.left>.left-list,.preview>.preview-list {
    overflow-y: auto;
    overflow-x: hidden;
}

ul li {
    list-style: none;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    white-space: nowrap; /*强制不换行*/
    text-overflow: ellipsis; /*省略号*/
}

.left ul li {
    background-color: #caf7dd;
}

.left ul li:hover {
    background-color: #00F7DE;
}

.left ul li.selected {
    background-color: #77f7a8;
}


.preview {
    margin-left: 10px;
    flex-grow: 10;
}

#preview_content {
    display: none;
    width: 320px;
    height: 568px;
    overflow: scroll;
    background-color: #d4ffad;
    font-size: 1.24em;
    margin: auto;
}

.history {
    width: 300px;
}


.history ul li {
    background: #f7deec;
}

.history ul li:hover {
    background: #f786f0;
}

#view-history-list {
    height: 100%;
    background-color: #f7deec;
}

.btn-pack {
    float: right;
 }