<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>

    <link href="/css/index.css" rel="stylesheet"/>
</head>
<body>
<div th:include="/templates/public.html :: public_static"></div>

<div class="header" th:text="|证书生成器 - ${env}|"></div>
<div class="db-url" th:text="|当前数据库连接地址：${dbUrl}|"></div>
<div class="main">
    <div class="merchant">
        <div class="merchant-search layui-row">
            <div class="layui-col-md9">
                <input placeholder="章节列表地址" class="layui-input input-keywords"/>
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn layui-btn-normal btn-search" type="button">搜索</button>
            </div>
        </div>
        <ul id="view-merchant-list" class="merchant-list"></ul>
    </div>
</div>

<div id="dialog_generate" class="layui-row" style="display: none">
    <form class="layui-form layui-col-md10">
        <input type="hidden" id="cashier_id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">门店</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" readonly id="cashier_name"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">私钥</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" rows="6" id="private_key" readonly></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公钥</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" rows="6" id="public_key" readonly></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-warm" id="btn-regenerate">重新生成证书</button>
            </div>
        </div>
    </form>
</div>

<script id="merchantList" type="text/html">
    {{# layui.each(d.list, function(index, item){ }}
    <li>
        <span title="{{item.merchantname}}" data-id="{{item.id}}">{{ item.merchantname }}</span>
    </li>
    {{# }); }}

    {{# if(d.list.length === 0){ }}
    无数据
    {{# } }}
</script>
<script id="cashierList" type="text/html">
    {{# layui.each(d.list, function(index, item){ }}
    <li>
        <span title="{{item.name}}" data-id="{{item.id}}">{{ item.name }}</span>
    </li>
    {{# }); }}

    {{# if(d.list.length === 0){ }}
    无数据
    {{# } }}
</script>
<script>
    layui.use(['jquery', 'laytpl', 'layer'], function () {
        var $ = layui.$,
            laytpl = layui.laytpl,
            layer = layui.layer;

        function doSearch() {
            var keywords = $('.input-keywords').val()
            $.ajax({
                type: 'POST',
                url: '/search',
                data: {
                    keywords: keywords
                },
                success: function (data) {
                    var getTpl = merchantList.innerHTML,
                        view = document.querySelector('#view-merchant-list')
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html
                    })

                }
            })
        }
        $('.input-keywords').on('keyup', function (e) {
            if (e.keyCode === 13) {
                doSearch()
            }
        })

        $('.btn-search').on('click', function () {
            doSearch();
        })

        $(document).on('click', '.merchant-list li', function () {
            var _this = $(this)
            $('#merchant_name').val(_this.text())
            var id = _this.find('span').data('id')
            // 选中
            _this.addClass('selected')
            $.ajax({
                type: 'POST',
                url: '/cashierList',
                data: {
                    merchantId: id
                },
                success: function (data) {
                    var getTpl = cashierList.innerHTML,
                        view = document.querySelector('#view-cashier-list')
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html
                    })

                }
            })
        })

        $(document).on('click', '.cashier-list li', function () {
            var _this = $(this)
            var id = _this.find('span').data('id')
            $.ajax({
                type: 'POST',
                url: '/cashier',
                data: {
                    id: id
                },
                success: function (data) {
                    if (!data) {
                        if (!data) {
                            layer.msg('出错啦！')
                            return
                        }
                    }
                    $('#private_key').val(data.privateKey)
                    $('#public_key').val(data.publicKey)
                    $('#cashier_id').val(data.id)
                    $('#cashier_name').val(data.name)


                    layer.open({
                        title: '证书生成',
                        type: 1,
                        area: ['700px', '500px'],
                        content: $('#dialog_generate')
                    })
                }
            })

        })

        $('#btn-regenerate').on('click', function () {
            layer.prompt({
                formType: 1,
                title: '请输入生成证书确认密码'
            }, function(value, index, elem){
                var indexLoad = layer.load()
                var cashierId = $('#cashier_id').val()
                layer.close(index);
                $.ajax({
                    type: 'POST',
                    url: '/regenerateCert',
                    data: {
                        id: cashierId,
                        confirmPassword: value
                    },
                    success: function (result) {
                        layer.close(indexLoad);
                        if (result.statusCode !== 200) {
                            layer.msg(result.message)
                            return
                        }
                        $('#private_key').val(result.data.privateKey)
                        $('#public_key').val(result.data.publicKey)
                        $('#cashier_id').val(result.data.id)
                        $('#cashier_name').val(result.data.name)
                        layer.msg('证书已重新生成')
                    },
                    error: function () {
                        layer.close(index);
                    }
                })
            })

        })
    });
</script>
</body>
</html>