<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>

    <link href="/css/index.css" rel="stylesheet"/>
</head>
<body>
<div th:include="/templates/public.html :: public_static"></div>

<div class="header" th:text="TXTBOOK"></div>
<div class="main">
    <div class="top-bar layui-row">
        <div class="layui-col-md9">
            <input placeholder="章节目录地址" class="layui-input input-url"/>
        </div>
        <div class="layui-col-md3">
            <button class="layui-btn layui-btn-normal btn-parse" type="button">解析预览</button>
            <button class="layui-btn layui-btn-warm btn-pack" type="button">打包成TXT</button>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <ul id="view-left-list" class="left-list"></ul>
        </div>
        <div class="preview">
            <pre id="preview_content">

            </pre>
        </div>
        <div class="history">
            <ul id="view-history-list">
                <li>锤子.txt</li>
                <li>锤子.txt</li>
                <li>锤子.txt</li>
                <li>锤子.txt</li>
            </ul>
        </div>
    </div>

</div>


<script id="leftList" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    <li>
        <span title="{{item.title}}" data-url="{{item.url}}">{{ item.title }}</span>
    </li>
    {{# }); }}

    {{# if(d.length === 0){ }}
    无数据
    {{# } }}
</script>
<script>
    layui.use(['jquery', 'laytpl', 'layer'], function () {
        const $ = layui.$,
            laytpl = layui.laytpl,
            layer = layui.layer;

        function getChapterList() {
            const indexLoad = layer.load()
            const url = $('.input-url').val();
            $.ajax({
                type: 'GET',
                url: '/chapters',
                data: {
                    url: url
                },
                success: function (data) {

                    if (data.length > 0) {
                        const getTpl = leftList.innerHTML,
                            view = document.querySelector('#view-left-list');
                        laytpl(getTpl).render(data, function (html) {
                            view.innerHTML = html
                        })
                    }

                    layer.close(indexLoad)
                },
                error: function (e) {
                    layer.close(indexLoad)
                }
            })
        }
        $('.input-url').on('keyup', function (e) {
            if (e.keyCode === 13) {
                getChapterList()
            }
        })

        $('.btn-parse').on('click', function () {
            getChapterList();
        })

        $('.btn-pack').on('click', function () {
            const indexLoad = layer.load()
            const url = $('.input-url').val();
            $.ajax({
                type: 'GET',
                url: '/pack',
                data: {
                    url: url
                },
                success: function (data) {


                    layer.close(indexLoad)
                },
                error: function (e) {
                    layer.close(indexLoad)
                }
            })
        })

        $(document).on('click', '.left-list li', function () {
            const indexLoad = layer.load()
            const _this = $(this);
            $('#left_name').val(_this.text())
            const url = _this.find('span').data('url');
            // 选中
            $('.left-list li').removeClass('selected')
            _this.addClass('selected')
            $.ajax({
                type: 'GET',
                url: '/content',
                data: {
                    url: url
                },
                success: function (data) {
                    const view = $('#preview_content');
                    view.text(data)
                    view.fadeIn(500)

                    layer.close(indexLoad)
                },
                error: function (e) {
                    layer.close(indexLoad)
                }
            })
        })


    });
</script>
</body>
</html>